:root {
    --main-light-color: #FFFAF9;
    --main-verydark-color: #47261B;
    --main-popping-color: #FF9058;
    --main-dark-color: #03265B;
    --main-mid-color: #44D7CA;
}

html {
    padding: 8px 8px;
    font-family: "Libre Baskerville";
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    width: 100%;
    height: 100%;
    font-family: "Spartan";
    background-color: var(--main-light-color);
}

/* Mobile Navigation
   ============================= */

#nav-button {
    position: fixed;
    position: -webkit-sticky;
    /* position: sticky; */
    right: 1em;
    top: 1em;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-dark-color);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: right;
    padding-top: 150px;
    width: 100%;
    /* margin-top: 30px; */
    height: 100%;
  }

  .overlay-main-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: right;
  }

  .overlay-socials-content {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: flex-start;
    flex-grow: 1;
  }

  .overlay-socials-content img {
    height: 1em;
    width: 1em;
}
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--main-light-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    text-decoration: underline;
    font-weight: bold;
  }

  #nav-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3em;
    color: var(--main-dark-color);
    cursor:pointer;
  }
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 60px;
  }
  
  .overlay-quote-button {
      margin: 10px 10px;
      align-self: flex-end;
  }
  #quote-button {
    width: 100%;
    border: 2px solid var(--main-popping-color);
    background-color: var(--main-popping-color);
    color: var(--main-light-color);
    padding: 12px 12px;
    font-size: 90%;
    text-align: center;
    align-self: flex-start;
    opacity: .8;
  }

  #quote-button:hover {
      opacity: 1;
  }

  /* Desktop Navigation
   ============================= */

   .desktop-nav {
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       padding: 50px 0px;
       align-items: center;
   }

   .desktop-nav img {
       height: 1.3em;
       width: 1.3em;
   }

   .desktop-nav a {
       text-decoration: none;
       color: var(--main-dark-color);
       flex-wrap: nowrap;
       letter-spacing: 2px;
       padding: 0 15px;
       font-weight: 500;
       /* transition: all .1s; */
   }

   .desktop-nav a:hover {
       font-weight: bold;
       text-decoration: underline;
   }

   #desktop-quote-button {
       border: 1px solid var(--main-dark-color);
       padding: 12px 12px;
       background-color: var(--main-dark-color);
       color: var(--main-light-color);
       /* font-size: .7em; */
   }

  /* Navigation Media Queries
   ============================= */

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  @media screen and (min-width: 768px) {
    .openbtn {
        display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .desktop-nav {
        display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .desktop-nav a{
        padding: 0 8px;
    }
  }

    /* Home Page
   ============================= */

   .home--container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
   }

   .home-content {
     display: flex;
     flex-direction: row;
     justify-content: center;
     /* align-items: center; */
     text-align: center;
     font-family: 'Libre Baskerville';
     z-index: -1;
     width: 100%;
   }

   .home-content-text {
     transform: translateY(5%);
     width: 50%;
   }
