:root {
    --main-v-light-color: #FFFBF5;
    --main-light-color: #75C3E2;
    --main-popping-color: #E29475;
    --main-dark-color: #03265B;
    --main-mid-color: #005B9B;
}

html {
    padding: 0px 0px;
    margin: 0 0;
    font-family: "Libre Baskerville";
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    width: 100%;
    height: 100%;
    font-family: "Spartan";
    background-color: var(--main-v-light-color);
    padding: 0px 0px;
    margin: 0 0;
}

.nav--wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Mobile Navigation
   ============================= */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-dark-color);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: right;
    padding-top: 150px;
    width: 100%;
  }

  .overlay-main-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: right;
  }

  .overlay-socials-content {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: flex-start;
    flex-grow: 1;
  }

  .overlay-socials-content img {
    height: 1em;
    width: 1em;
}
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--main-v-light-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    text-decoration: underline;
    font-weight: bold;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    justify-content: flex-end;
    align-items: center;
  }

  #nav-button {
    text-align: right;
    font-size: 3em;
    color: var(--main-dark-color);
    cursor:pointer;
  }
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 60px;
  }
  
  .overlay-quote-button {
      margin: 10px 10px;
      /* align-self: flex-end; */
      position: absolute;
      bottom: 0;
      right: 25px;
  }

  #quote-button {
    width: 100%;
    border: 2px solid var(--main-popping-color);
    background-color: var(--main-popping-color);
    color: var(--main-v-light-color);
    padding: 12px 12px;
    font-size: 90%;
    text-align: center;
    align-self: flex-start;
    opacity: .8;
  }

  #quote-button:hover {
      opacity: 1;
  }

  /* Desktop Navigation
   ============================= */

   .desktop-nav {
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       padding: 50px 10px;
       align-items: center;
   }

   .desktop-nav img {
       height: 1.3em;
       width: 1.3em;
   }

   .desktop-nav a {
       text-decoration: none;
       color: var(--main-dark-color);
       flex-wrap: nowrap;
       letter-spacing: 2px;
       padding: 0 15px;
       font-weight: 500;
       /* transition: all .1s; */
   }

   .desktop-nav a:hover {
       font-weight: bold;
       text-decoration: underline;
   }

   #desktop-quote-button {
       border: 1px solid var(--main-dark-color);
       padding: 12px 12px;
       background-color: var(--main-dark-color);
       color: var(--main-v-light-color);
       /* font-size: .7em; */
   }

  /* Navigation Media Queries
   ============================= */

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  @media screen and (min-width: 800px) {
    .openbtn {
        display: none;
    }
  }

  @media screen and (max-width: 800px) {
    .desktop-nav {
        display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .desktop-nav a{
        padding: 0 8px;
    }
  }

    /* Home Page
   ============================= */

   .home--container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     height: auto;
     background: linear-gradient(1deg, var(--main-light-color), var(--main-v-light-color) 80.71%);
   }

   .home-content {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     text-align: center;
     font-family: 'Libre Baskerville';
     width: 80%;
   }

   .home-content h1 {
     position: relative;
     font-size: 4em;
     /* overflow: hidden; */
     transition: all .5s;
     z-index: 1;
   }

   .home-content h1:before {
     position: absolute;
     content: "";
     height: 130%;
     width: 100%;
     background-image: url('./images/misc/pawprint.svg');
     background-size: contain;
     background-repeat: no-repeat;
     transform: translateY(-30%);
     top: 0;
     left: 0;
     z-index: -1;
  }

   .home-content-text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     font-size: 1.5em;
   }

   .home-content-text span{
     color: var(--main-light-color);
     font-weight: bold;
  }

  .home-content-text a {
    width: 10em;
    margin-top: 50px;
    border: 2px solid var(--main-popping-color);
    padding: 12px 12px;
    background-color: var(--main-popping-color);
    color: var(--main-v-light-color);
    text-decoration: none;
    position: relative;
    transition: all .1s;
    overflow: hidden;
  }

  .home-content-text a:hover {
    text-decoration: underline;
    font-weight: 600;
  }

  .home-content img {
    width: 20em;
    height: auto;
    object-fit: contain;
  }

    /* Home Page Media Queries
   ============================= */
/* 
  @media screen and (min-width: 768px) {
    .home--container {
      background-image: url('./images/ultrawide-backgrounds/4.png');
      background-size: fill;
      background-repeat: round;
    }
  } */

      /* About Page Styling
   ============================= */

   .about-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     font-family: "Libre Bakersville";
     padding: 10px 10px;
   }

   .about-content {
    /* background: linear-gradient(1deg, var(--main-v-light-color), var(--main-light-color) 20.71%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top: 2px solid var(--main-dark-color);
    position: relative;
   }

   .about-content img {
     height: 16em;
     width: auto;
     border: 4px solid var(--main-popping-color);
   }

   .about-content-text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
   }

   .about-content h1{
    font-size: 2em;
  }

  .about-content h1 span{
    color: var(--main-popping-color);
    font-weight: bolder;
  }

   .about-content-text p{
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 95%;
     height: 100%;
     background-color: var(--main-v-light-color);
     border: 1px solid var(--main-v-light-color);
     font-size: 1.5em;
   }

      /* Services Page Styling
   ============================= */

   .services--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   }

   .services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* padding: 10px 10px; */
    flex-wrap: wrap;
    background-color: var(--main-light-color);
   }

   .services-content h1 {
    text-align: center;
    text-decoration: underline;
    color: var(--main-dark-color);
    letter-spacing: 2px;
   }

   .services-content img {
     padding-top: 23px;
    height: 5em;
    width: auto;
   }

   /* #services-title {
     
   } */

   .services-content h1 span{
     font-style: italic;
   }

   .services-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    border: 1px solid var(--main-dark-color);
    background-color: var(--main-dark-color);
    border-radius: 12px;
    color: var(--main-v-light-color);
    padding: 2px 8px;
    margin: 10px;
   }

   .services-content-box h1{
    text-align: center;
    color: var(--main-popping-color);
    font-size: 1.3em;
    text-decoration: none;
   }

   .services-content-box h3{
    /* font-style: italic; */
    text-align: center;
    /* padding: 0px 15px; */
    font-size: 1em;
   }

   .services-content-box a {
     align-self: flex-end;
     font-size: .8em;
     font-weight: bold;
     color: var(--main-v-light-color);
   }

   .services-content-box ul li{
     align-self: flex-start;
     align-items: left;
     text-align: left;
     list-style-type: none;
     font-size: 1.2em;
     padding: 12px;
     position: relative;
   }

   .services-content-box ul li img {
     height: 1em;
     width: auto;
   }

   .services-content-box ul{
     display: none;
     /* visibility: hidden; */
   }

   #connect-button {
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     background-color: var(--main-popping-color);
     border: 2px solid var(--main-popping-color);
     padding: 12px 12px;
     text-decoration: none;
     color: var(--main-v-light-color);
     letter-spacing: 2px;
     margin: 5px
   }
  
   #connect-button:hover {
    text-decoration: underline;
    font-weight: bolder;
  }